In [104]:
import nbaPlayerStatModeling as nbaModel
import pandas as pd

In [105]:
nba = nbaModel.playerStatModel(
        day_offset = 0, 
        season = '2024-25', 
        perMode = 'PerGame',
        num_simulations = 200000
)
nba.get_teams_playing()
nba.get_teams_data(
    base_url = 'https://stats.nba.com/stats/leaguedashteamstats?Conference=&DateFrom=&DateTo=&Division=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType={stattype}&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={sid}&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision='
)

9  games today...

In [106]:
# change the team list to grab players from if needed
"""
1610612737 ATL 1610612738 BOS 1610612751 BKN 1610612766 CHA
1610612741 CHI 1610612739 CLE 1610612742 DAL 1610612743 DEN 
1610612765 DET 1610612744 GSW 1610612745 HOU 1610612754 IND
1610612746 LAC 1610612747 LAL 1610612748 MIA 1610612749 MIL 
1610612750 MIN 1610612763 MEM 1610612740 NOP 1610612752 NYK
1610612753 ORL 1610612760 OKC 1610612755 PHI 1610612756 PHX
1610612757 POR 1610612758 SAC 1610612759 SAS 1610612761 TOR 
1610612762 UTA 1610612764 WAS
""" 
#teams = [1610612738, 1610612754, 1610612761]
#nba.list_team_ids = teams
#print('teams:', len(nba.list_team_ids))
#for i in teams:
#    nba.list_team_ids.remove(i)
#print('teams:', len(nba.list_team_ids))

'\n1610612737 ATL 1610612738 BOS 1610612751 BKN 1610612766 CHA\n1610612741 CHI 1610612739 CLE 1610612742 DAL 1610612743 DEN \n1610612765 DET 1610612744 GSW 1610612745 HOU 1610612754 IND\n1610612746 LAC 1610612747 LAL 1610612748 MIA 1610612749 MIL \n1610612750 MIN 1610612763 MEM 1610612740 NOP 1610612752 NYK\n1610612753 ORL 1610612760 OKC 1610612755 PHI 1610612756 PHX\n1610612757 POR 1610612758 SAC 1610612759 SAS 1610612761 TOR \n1610612762 UTA 1610612764 WAS\n'

In [ ]:
nba.get_players_playing(
    url_base_nba_player_stat = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode={per}&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={sid}&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID={tid}&TwoWay=0&VsConference=&VsDivision=&Weight=',
    minute_cutoff = 18.0,
    season = '2025',
    pull_players_from_nbaapi = False
)
nba.get_props()

nba.get_player_home_adv(
    use_default=False,
    sleep_time = 3
)
df_copy = nba.df_players.copy()

170 players returned from 18 teams, out of a total 18

In [114]:
nba.df_players = df_copy.copy()
nba.model_expected_minutes()
nba.calculate_model_inputs()
nba.model_stats()

In [115]:
player = "Aaron Nesmith"
reb = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'REB', 'expReb', 'reb_line', 'reb_oOdds', 'REBoOdds','REBoOdds_deci','REBoProb']]
reb['stat'] = 'reb'
ast = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'AST', 'expAst', 'ast_line', 'ast_oOdds', 'ASToOdds','ASToOdds_deci','ASToProb']]
ast['stat'] = 'ast'
pts = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'PTS', 'expPts', 'pts_line', 'pts_oOdds', 'PTSoOdds','PTSoOdds_deci','PTSoProb']]
pts['stat'] = 'pts'
fg3m = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'FG3M', 'expFG3M', 'threes_line', 'threes_oOdds', 'FG3MoOdds','FG3MoOdds_deci','FG3MoProb']]
fg3m['stat'] = 'fg3m'
pra = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'PRA', 'expPra', 'pra_line', 'pra_oOdds', 'PRAoOdds','PRAoOdds_deci','PRAoProb']]
pra['stat'] = 'pra'
pr = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'PR', 'expPr', 'pr_line', 'pr_oOdds', 'PRoOdds','PRoOdds_deci','PRoProb']]
pr['stat'] = 'pr'
pa = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'PA', 'expPa', 'pa_line', 'pa_oOdds', 'PAoOdds','PAoOdds_deci','PAoProb']]
pa['stat'] = 'pa'
ra = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'RA', 'expRa', 'ra_line', 'ra_oOdds', 'RAoOdds','RAoOdds_deci','RAoProb']]
ra['stat'] = 'ra'
stl = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'STL', 'expStl', 'stl_line', 'stl_oOdds', 'STLoOdds','STLoOdds_deci','STLoProb']]
stl['stat'] = 'stl'
blk = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'BLK', 'expBlk', 'blk_line', 'blk_oOdds', 'BLKoOdds','BLKoOdds_deci','BLKoProb']]
blk['stat'] = 'blk'
sb = nba.df_players[nba.df_players['PLAYER_NAME']==player][['PLAYER_NAME', 'SB', 'expSb', 'sb_line', 'sb_oOdds', 'SBoOdds','SBoOdds_deci','SBoProb']]
sb['stat'] = 'sb'

pts.columns = ['PLAYER_NAME', 'act', 'exp', 'line', 'ACToOdds', 'EXPoOdds', 'EXPoOdds_deci', 'EXPoProb', 'stat'] 
for i in [reb, ast, fg3m, pra, pr, pa, ra, stl, blk, sb ]:
    i.columns = ['PLAYER_NAME', 'act', 'exp', 'line', 'ACToOdds', 'EXPoOdds', 'EXPoOdds_deci', 'EXPoProb', 'stat']
    pts = pd.concat([pts, i])

odds = pts[['PLAYER_NAME', 'stat', 'act', 'exp', 'line', 'ACToOdds', 'EXPoOdds', 'EXPoOdds_deci', 'EXPoProb']].copy()
odds

,PLAYER_NAME,stat,act,exp,line,ACToOdds,EXPoOdds,EXPoOdds_deci,EXPoProb
69,Aaron Nesmith,pts,8.857143,9.784473,10.5,-106.0,179.0,2.791,0.358350
69,Aaron Nesmith,reb,3.476190,4.174504,4.5,130.0,146.0,2.468,0.405230
69,Aaron Nesmith,ast,1.285714,1.237093,1.5,-105.0,183.0,2.839,0.352175
69,Aaron Nesmith,fg3m,1.142857,1.412738,1.5,126.0,174.0,2.748,0.363930
69,Aaron Nesmith,pra,13.619048,15.196070,16.0,-121.0,185.0,2.856,0.350095
69,Aaron Nesmith,pr,12.333333,13.958977,14.5,-111.0,152.0,2.526,0.395825
69,Aaron Nesmith,pa,10.142857,11.021566,12.0,-112.0,222.0,3.227,0.309925
69,Aaron Nesmith,ra,4.761905,5.411598,5.5,-127.0,212.0,3.121,0.320450
69,Aaron Nesmith,stl,0.619048,0.497464,0.5,-165.0,154.0,2.545,0.392935
69,Aaron Nesmith,blk,0.380952,0.459197,0.5,110.0,170.0,2.710,0.369020
69,Aaron Nesmith,sb,1.000000,0.956661,0.0,0.0,NaN,NaN,1.000000

In [ ]:
#nba.df_players.to_excel('test.xlsx')

In [33]:
pts_cols = []
for i in nba.df_players.columns:
    if  'line' in i.lower():
        pts_cols.append(i)

#nba.df_players[pts_cols]
pts_cols

['threes_line',
 'stl_line',
 'reb_line',
 'ra_line',
 'pts_line',
 'pra_line',
 'pr_line',
 'pa_line',
 'blk_line',
 'ast_line',
 'sb_line']

In [119]:
nba.df_players

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,PRoOdds_deci,PAoProb,PAoOdds,PAoOdds_deci,RAoProb,RAoOdds,RAoOdds_deci,SBoProb,SBoOdds,SBoOdds_deci
0,1627747,Caris LeVert,1610612737,ATL,27.7,5.5,10.8,0.512,1.5,4,...,1.293,0.440120,127,2.272,0.356745,180,2.803,1.0,NaN,NaN
1,203991,Clint Capela,1610612737,ATL,22.3,4.1,7.3,0.565,0.0,0,...,1.676,0.606650,-154,1.648,0.572655,-134,1.746,1.0,NaN,NaN
2,1630700,Dyson Daniels,1610612737,ATL,34.0,5.7,12.3,0.467,1.1,3,...,2.023,0.218615,357,4.574,0.094680,956,10.562,1.0,NaN,NaN
3,1627777,Georges Niang,1610612737,ATL,27.7,4.5,9.8,0.462,2.8,6,...,1.283,0.597455,-148,1.674,0.523635,-109,1.910,1.0,NaN,NaN
4,1630168,Onyeka Okongwu,1610612737,ATL,25.6,4.8,8.4,0.571,0.4,1,...,1.985,0.346655,188,2.885,0.203280,391,4.919,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,1630191,Isaiah Stewart,1610612765,DET,20.0,2.4,4.4,0.540,0.2,0,...,3.148,0.465385,114,2.149,0.489225,104,2.044,1.0,NaN,NaN
113,1631105,Jalen Duren,1610612765,DET,25.7,4.6,6.6,0.695,0.0,0,...,15.343,0.057510,1638,17.388,0.086085,1061,11.616,1.0,NaN,NaN
114,1627736,Malik Beasley,1610612765,DET,27.5,5.7,13.1,0.439,3.9,9,...,1.355,0.640780,-178,1.561,0.280565,256,3.564,1.0,NaN,NaN
115,203501,Tim Hardaway Jr.,1610612765,DET,28.3,3.4,8.4,0.406,2.1,5,...,2.821,0.233130,328,4.289,0.112220,791,8.911,1.0,NaN,NaN
116,202699,Tobias Harris,1610612765,DET,31.9,5.2,11.2,0.466,1.2,3,...,3.843,0.169180,491,5.911,0.438935,127,2.278,1.0,NaN,NaN

In [120]:
a = nba.df_players.copy()

In [124]:
import time, json, requests
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sqlalchemy import create_engine

### # nba_api is not friendly, changed it direct url hit ###
#from nba_api.stats.endpoints import LeagueDashPlayerStats
from nba_api.stats.endpoints import ScoreboardV2, ShotChartDetail, PlayerDashboardByGeneralSplits

In [ ]:
ShotChartDetail(1610612766, )

TypeError: __init__() missing 2 required positional arguments: 'team_id' and 'player_id'