In [1]:
import nbaPlayerStatModeling as nbaModel

In [ ]:
nba = nbaModel.playerStatModel(
        day_offset = 0, 
        season = '2024-25', 
        perMode = 'PerGame',
        num_simulations = 200000
)

In [3]:
nba.get_teams_playing()
nba.get_teams_data(
    base_url = 'https://stats.nba.com/stats/leaguedashteamstats?Conference=&DateFrom=&DateTo=&Division=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType={stattype}&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={sid}&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision='
)
nba.get_players_playing(
    url_base_nba_player_stat = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode={per}&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={sid}&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID={tid}&TwoWay=0&VsConference=&VsDivision=&Weight=',
    minute_cutoff = 0
)
nba.get_props()

4  games today...
138 players returned from 8 teams, out of a total 8
635 prop bets for 66 players...

In [7]:
#nba.df_players = nba.df_players.iloc[[1,10,19,25,30], :]
nba.get_player_home_adv(
    use_default=False
)

1 / 5 player splits..
2 / 5 player splits..
3 / 5 player splits..
4 / 5 player splits..
5 / 5 player splits..

In [64]:
#df_copy = nba.df_players.copy()
nba.df_players = df_copy.copy()

In [ ]:
nba.model_expected_minutes()
nba.calculate_model_inputs()
nba.df_players = nba.df_players.fillna(0)
#nba.num_simulations = 250000
nba.model_expected_stats_poisson()

In [66]:
nba.model_expected_pts()

In [67]:
nba.df_players[['PLAYER_NAME', 'DREB_HOMEadj']]

          PLAYER_NAME  DREB_HOMEadj
0          Coby White      0.902778
1           Josh Hart      1.037853
2  Bennedict Mathurin      1.200000
3   Tyrese Haliburton      1.058537
4      Quentin Grimes      1.051282

In [68]:
nba.df_players[['PLAYER_NAME', 'REB', 'expReb', 'reb_line', 'reb_oOdds', 'REBoOdds','REBoOdds_deci','REBoProb']]

,PLAYER_NAME,REB,expReb,reb_line,reb_oOdds,REBoOdds,REBoOdds_deci,REBoProb
0,Coby White,3.3,3.047735,3.5,120.0,174,2.748,0.363848
1,Josh Hart,9.6,10.512123,9.5,-122.0,-152,1.656,0.603792
2,Bennedict Mathurin,5.7,6.836473,4.5,114.0,-430,1.232,0.811564
3,Tyrese Haliburton,3.6,3.871139,3.5,110.0,-117,1.850,0.540560
4,Quentin Grimes,5.3,5.899639,3.5,-106.0,-526,1.190,0.840296

In [69]:
nba.df_players[['PLAYER_NAME', 'AST', 'expAst', 'ast_line', 'ast_oOdds', 'ASToOdds','ASToOdds_deci','ASToProb']]

,PLAYER_NAME,AST,expAst,ast_line,ast_oOdds,ASToOdds,ASToOdds_deci,ASToProb
0,Coby White,4.6,5.122792,4.5,112.0,-138,1.723,0.580408
1,Josh Hart,5.7,4.989067,5.5,-154.0,160,2.601,0.384492
2,Bennedict Mathurin,1.8,2.067874,1.5,-115.0,-158,1.630,0.613396
3,Tyrese Haliburton,8.5,8.853996,8.5,100.0,-110,1.901,0.525908
4,Quentin Grimes,3.7,4.020083,2.5,105.0,-325,1.307,0.765004

In [70]:
nba.df_players[['PLAYER_NAME', 'PTS', 'expPts', 'pts_line', 'pts_oOdds', 'PTSoOdds','PTSoOdds_deci','PTSoProb']]

,PLAYER_NAME,PTS,expPts,pts_line,pts_oOdds,PTSoOdds,PTSoOdds_deci,PTSoProb
0,Coby White,18.7,18.686267,20.5,-110.0,170,2.707,0.369348
1,Josh Hart,14.4,15.686097,15.5,-110.0,104,2.050,0.487848
2,Bennedict Mathurin,16.3,17.556285,14.5,-105.0,-207,1.483,0.674284
3,Tyrese Haliburton,17.8,21.237693,18.5,-115.0,-171,1.585,0.631112
4,Quentin Grimes,12.3,10.841883,8.5,-130.0,-189,1.527,0.654736

In [16]:
nba.df_players[['PLAYER_NAME', 'PTS', 'expPts', 'pts_line', 'pts_oOdds', 'PTSoOdds','PTSoOdds_deci','PTSoProb']]

,PLAYER_NAME,PTS,expPts,pts_line,pts_oOdds,PTSoOdds,PTSoOdds_deci,PTSoProb
0,Coby White,18.7,18.686267,20.5,-110.0,144.678248,2.447,0.4087
1,Josh Hart,14.4,15.686097,15.5,-110.0,155.558395,2.556,0.3913
2,Bennedict Mathurin,16.3,17.556285,14.5,-105.0,-151.193168,1.661,0.6019
3,Tyrese Haliburton,17.8,21.237693,18.5,-115.0,136.798484,2.368,0.4223
4,Quentin Grimes,12.3,10.841883,8.5,-130.0,-326.803244,1.306,0.7657

In [121]:
nba.df_players.to_excel('test.xlsx')

In [49]:
nba.df_players['expAst'].values

array([5.12279194, 4.98906653, 2.06787421, 8.85399571, 4.02008345])

In [46]:
np.random.poisson(nba.df_players['expAst'].values[:, None], (len(nba.df_players), 10000))

array([[ 1,  7,  8, ...,  6,  7,  4],
       [ 9,  4,  2, ...,  6,  6,  3],
       [ 3,  1,  2, ...,  1,  4,  3],
       [14,  8,  6, ..., 12,  5,  9],
       [ 5,  5,  5, ...,  6,  7,  5]])

In [50]:
(len(nba.df_players), 10000)

(5, 10000)

In [105]:
for i in nba.df_players.columns:
    if 'reb' in i.lower():
        print(i)

OREB
DREB
REB
OREB_PCT
DREB_PCT
OREBadj
DREBadj
reb_line
reb_oOdds
reb_uOdds
OREB_HOMEadj
DREB_HOMEadj
REB_HOMEadj
OREB_ROADadj
DREB_ROADadj
REB_ROADadj
expReb
REBoProb
REBoOdds
REBoOdds_deci

In [63]:
import requests
url_base_nba_player_stat = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode={per}&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={sid}&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID={tid}&TwoWay=0&VsConference=&VsDivision=&Weight='
minute_cutoff = 15.0

team_id = 1610612737
player_info_url = url_base_nba_player_stat.format(
    per = 'PerGame',
    sid = '2024-25', 
    tid = team_id
) 
response = requests.get(url=player_info_url, headers=nba.HEADERS).json()
columns_player_stats = response['resultSets'][0]['headers']

for j in response['resultSets'][0]['rowSet']:
    print(j)

[203992, 'Bogdan Bogdanović', 'Bogdan', 1610612746, 'LAC', 32.0, 24, 12, 12, 0.5, 24.9, 3.5, 9.3, 0.371, 1.8, 6.1, 0.301, 1.3, 1.4, 0.882, 0.5, 2.3, 2.8, 2.0, 1.5, 0.8, 0.3, 0.2, 2.4, 1.6, 10.0, -1.8, 18.1, 0, 0, 18.8, 11, 10, 13, 6, 7, 11, 6, 20, 6, 3, 16, 10, 13, 3, 11, 12, 12, 7, 5, 8, 13, 14, 6, 8, 10, 14, 12, 10, 2, 10]
[1627747, 'Caris LeVert', 'Caris', 1610612737, 'ATL', 30.0, 2, 2, 0, 1.0, 23.7, 4.0, 8.5, 0.471, 2.0, 5.5, 0.364, 3.5, 4.0, 0.875, 0.0, 5.5, 5.5, 1.0, 0.5, 0.0, 0.0, 0.5, 3.5, 2.0, 13.5, -0.5, 21.1, 0, 0, 22.0, 17, 16, 18, 1, 9, 8, 7, 8, 5, 4, 9, 3, 3, 4, 20, 3, 4, 17, 16, 18, 17, 9, 1, 5, 5, 7, 8, 10, 2, 8]
[203991, 'Clint Capela', 'Clint', 1610612737, 'ATL', 30.0, 45, 22, 23, 0.489, 22.4, 4.2, 7.3, 0.573, 0.0, 0.0, 0.0, 1.0, 1.9, 0.541, 3.3, 5.7, 9.0, 1.2, 1.0, 0.6, 1.0, 0.7, 2.0, 1.8, 9.4, -0.8, 25.8, 11, 0, 22.8, 5, 4, 5, 10, 10, 7, 10, 3, 20, 20, 20, 12, 8, 18, 1, 2, 2, 15, 10, 14, 1, 6, 7, 7, 11, 9, 6, 4, 2, 7]
[1631342, 'Daeqwon Plowden', 'Daeqwon', 1610612737, 'ATL', 26.0, 2, 1, 1, 0.5, 16.4, 4.0, 5.0, 0.8, 3.0, 4.0, 0.75, 1.0, 1.0, 1.0, 1.5, 1.0, 2.5, 0.0, 0.5, 0.0, 0.0, 0.0, 2.5, 0.5, 12.0, 6.0, 14.5, 0, 0, 17.5, 17, 20, 17, 6, 16, 8, 16, 1, 1, 8, 2, 13, 14, 1, 5, 19, 15, 20, 16, 18, 17, 19, 2, 19, 6, 2, 14, 10, 2, 12]
[1631223, 'David Roddy', 'David', 1610612737, 'ATL', 23.0, 27, 9, 18, 0.333, 12.8, 1.6, 3.4, 0.473, 0.6, 1.6, 0.372, 0.7, 0.8, 0.818, 0.4, 2.2, 2.6, 1.1, 0.7, 0.4, 0.3, 0.3, 0.7, 0.7, 4.5, -2.6, 10.8, 0, 0, 10.3, 10, 13, 9, 18, 18, 19, 19, 7, 15, 17, 8, 15, 16, 8, 15, 13, 14, 16, 13, 15, 11, 12, 19, 17, 19, 18, 19, 10, 2, 19]
[1629631, "De'Andre Hunter", "De'Andre", 1610612739, 'CLE', 27.0, 37, 18, 19, 0.486, 28.7, 6.1, 13.3, 0.461, 2.6, 6.7, 0.393, 4.1, 4.8, 0.858, 0.7, 3.2, 3.9, 1.5, 1.6, 0.8, 0.1, 0.8, 2.4, 4.1, 19.0, -1.6, 27.3, 1, 0, 29.0, 8, 6, 8, 11, 4, 3, 3, 11, 3, 2, 5, 2, 2, 5, 9, 9, 9, 12, 4, 7, 16, 3, 5, 2, 2, 13, 5, 7, 2, 4]
[1631230, 'Dominick Barlow', 'Dominick', 1610612737, 'ATL', 21.0, 15, 4, 11, 0.267, 7.9, 1.1, 2.5, 0.447, 0.3, 0.7, 0.364, 0.3, 0.5, 0.5, 0.3, 1.3, 1.5, 0.2, 0.1, 0.2, 0.5, 0.2, 0.6, 0.5, 2.8, -0.2, 6.9, 0, 0, 6.1, 14, 15, 14, 20, 20, 20, 20, 12, 19, 19, 9, 20, 19, 19, 18, 17, 18, 19, 20, 17, 8, 16, 20, 18, 20, 6, 20, 10, 2, 20]
[1630700, 'Dyson Daniels', 'Dyson', 1610612737, 'ATL', 21.0, 49, 24, 25, 0.49, 33.9, 5.7, 12.2, 0.469, 1.1, 3.4, 0.327, 1.2, 1.9, 0.62, 1.7, 3.8, 5.5, 4.0, 1.9, 3.0, 0.8, 0.6, 2.5, 1.8, 13.7, -2.8, 35.7, 4, 0, 31.8, 2, 1, 2, 9, 3, 4, 4, 10, 13, 11, 13, 11, 9, 17, 4, 6, 5, 3, 3, 1, 5, 8, 3, 6, 4, 19, 3, 5, 2, 3]
[1629726, 'Garrison Mathews', 'Garrison', 1610612737, 'ATL', 28.0, 43, 18, 25, 0.419, 17.7, 2.1, 5.5, 0.39, 1.8, 4.7, 0.385, 1.5, 1.8, 0.829, 0.3, 1.5, 1.8, 1.3, 0.7, 0.6, 0.3, 0.1, 1.7, 1.5, 7.5, -1.4, 13.6, 0, 0, 14.2, 6, 6, 2, 15, 14, 17, 14, 18, 7, 6, 6, 8, 11, 7, 17, 16, 17, 13, 14, 13, 12, 17, 12, 10, 14, 11, 15, 10, 2, 15]
[1627777, 'Georges Niang', 'Georges', 1610612737, 'ATL', 31.0, 2, 2, 0, 1.0, 25.3, 4.0, 8.5, 0.471, 2.5, 5.0, 0.5, 1.5, 2.0, 0.75, 1.0, 4.0, 5.0, 2.0, 1.0, 1.5, 0.0, 0.0, 1.5, 1.0, 12.0, 8.0, 24.5, 0, 0, 24.5, 17, 16, 18, 1, 5, 8, 7, 8, 4, 5, 3, 7, 7, 10, 7, 5, 6, 8, 9, 3, 17, 19, 14, 13, 6, 1, 7, 10, 2, 6]
[1630552, 'Jalen Johnson', 'Jalen', 1610612737, 'ATL', 23.0, 36, 18, 18, 0.5, 35.7, 7.5, 15.1, 0.5, 1.2, 3.9, 0.312, 2.6, 3.5, 0.746, 1.7, 8.3, 10.0, 5.0, 2.9, 1.6, 1.0, 1.1, 1.9, 2.8, 18.9, 1.5, 43.1, 20, 1, 40.2, 9, 6, 9, 6, 2, 1, 2, 6, 12, 9, 15, 4, 4, 11, 3, 1, 1, 2, 2, 2, 1, 1, 11, 3, 3, 4, 2, 2, 1, 2]
[1630811, 'Keaton Wallace', 'Keaton', 1610612737, 'ATL', 25.0, 24, 10, 14, 0.417, 17.3, 2.2, 5.1, 0.423, 1.0, 2.7, 0.354, 0.5, 0.5, 1.0, 0.2, 1.3, 1.5, 2.3, 1.2, 0.9, 0.3, 0.1, 1.3, 0.4, 5.8, -1.5, 13.5, 0, 0, 13.0, 11, 11, 11, 16, 15, 16, 15, 15, 14, 14, 11, 18, 20, 1, 19, 18, 20, 5, 6, 6, 10, 18, 16, 20, 17, 12, 16, 10, 2, 17]
[1641723, 'Kobe Bufkin', 'Kobe', 1610612737, 'ATL', 21.0, 10, 6, 4, 0.6, 12.4, 1.8, 4.7, 0.383, 0.4, 1.9, 0.211, 1.3, 1.8, 0.722, 0.5, 1.6, 2.1, 1.7, 0.8, 0.3, 0.2, 0.6, 0.9, 1.2, 5.3, -2.3, 11.1, 0, 0, 10.5, 15, 14, 16, 4, 19, 18, 17, 19, 18, 15, 18, 9, 10, 12, 11, 15, 16, 10, 12, 16, 14, 7, 17, 11, 18, 17, 18, 10, 2, 18]
[1626204, 'Larry Nance Jr.', 'Larry', 1610612737, 'ATL', 32.0, 24, 10, 14, 0.417, 19.3, 3.3, 6.5, 0.516, 1.4, 3.2, 0.447, 0.4, 0.5, 0.692, 1.0, 3.3, 4.3, 1.6, 0.7, 0.8, 0.5, 0.3, 1.5, 1.0, 8.5, -4.0, 19.4, 3, 0, 18.5, 11, 11, 11, 16, 13, 12, 12, 5, 10, 13, 4, 19, 18, 15, 8, 7, 7, 11, 15, 8, 6, 13, 13, 12, 12, 20, 10, 6, 2, 11]
[1631243, 'Mouhamed Gueye', 'Mouhamed', 1610612737, 'ATL', 22.0, 7, 2, 5, 0.286, 15.1, 2.9, 6.9, 0.417, 0.6, 3.3, 0.174, 0.7, 1.0, 0.714, 0.7, 3.3, 4.0, 0.6, 0.3, 1.3, 1.0, 0.3, 0.9, 0.7, 7.0, 3.9, 19.2, 1, 0, 16.7, 16, 16, 15, 19, 17, 14, 11, 16, 16, 12, 19, 14, 14, 13, 10, 8, 8, 18, 19, 4, 1, 11, 18, 16, 15, 3, 11, 7, 2, 13]
[1630168, 'Onyeka Okongwu', 'Onyeka', 1610612737, 'ATL', 24.0, 47, 22, 25, 0.468, 25.2, 4.7, 8.4, 0.565, 0.4, 1.6, 0.276, 2.0, 2.7, 0.754, 2.8, 5.1, 7.9, 2.0, 1.0, 0.8, 0.9, 0.7, 2.4, 2.1, 12.0, -0.9, 28.5, 13, 0, 25.7, 3, 4, 2, 13, 6, 5, 9, 4, 17, 16, 17, 5, 5, 9, 2, 4, 3, 6, 8, 10, 4, 4, 4, 4, 8, 10, 4, 3, 2, 5]
[1629611, 'Terance Mann', 'Terance', 1610612737, 'ATL', 28.0, 2, 2, 0, 1.0, 19.7, 3.0, 4.5, 0.667, 1.5, 1.5, 1.0, 0.5, 1.5, 0.333, 0.5, 1.0, 1.5, 2.0, 0.5, 0.0, 0.0, 0.5, 1.5, 1.0, 8.0, -0.5, 12.3, 0, 0, 13.0, 17, 16, 18, 1, 12, 13, 18, 2, 8, 18, 1, 17, 12, 20, 11, 19, 19, 8, 16, 18, 17, 9, 14, 13, 13, 7, 17, 10, 2, 16]
[1629027, 'Trae Young', 'Trae', 1610612737, 'ATL', 26.0, 50, 24, 26, 0.48, 36.1, 7.2, 17.8, 0.408, 2.9, 8.7, 0.336, 6.0, 7.0, 0.857, 0.5, 2.7, 3.2, 11.4, 4.8, 1.2, 0.2, 0.8, 2.0, 5.4, 23.4, 0.3, 43.8, 31, 0, 43.8, 1, 1, 1, 12, 1, 2, 1, 17, 2, 1, 12, 1, 1, 6, 11, 10, 11, 1, 1, 5, 14, 2, 8, 1, 1, 5, 1, 1, 2, 1]
[1630249, 'Vít Krejčí', 'Vít', 1610612737, 'ATL', 24.0, 39, 18, 21, 0.462, 20.8, 2.5, 5.5, 0.447, 1.4, 3.7, 0.384, 0.5, 0.8, 0.667, 0.4, 2.4, 2.7, 2.7, 0.9, 0.7, 0.5, 0.2, 1.9, 0.7, 6.9, -2.1, 16.9, 1, 0, 16.2, 7, 6, 7, 14, 11, 15, 13, 13, 9, 10, 7, 16, 17, 16, 16, 11, 13, 4, 11, 12, 7, 15, 10, 15, 16, 16, 13, 7, 2, 14]
[1642258, 'Zaccharie Risacher', 'Zaccharie', 1610612737, 'ATL', 19.0, 47, 24, 23, 0.511, 23.7, 4.3, 9.9, 0.43, 1.3, 4.1, 0.313, 1.5, 2.2, 0.706, 1.3, 2.1, 3.4, 1.2, 1.1, 0.8, 0.4, 0.7, 2.0, 1.6, 11.3, -2.0, 19.8, 0, 0, 19.7, 3, 1, 5, 5, 8, 6, 5, 14, 11, 7, 14, 6, 6, 14, 6, 14, 10, 14, 7, 11, 9, 5, 9, 9, 9, 15, 9, 10, 2, 9]

In [ ]:
c = nba.df_players.copy()
c['TEAM_ABBREVIATION'].value_counts()[:1].index.tolist()

['BOS']

In [ ]:
c['TEAM_ABBREVIATION'][9:29]

7     ATL
8     ATL
9     ATL
10    ATL
11    ATL
12    ATL
13    ATL
14    BOS
15    BOS
16    BOS
17    BOS
18    BOS
19    BOS
20    BOS
21    CLE
22    CLE
23    CLE
24    CLE
25    CLE
26    CLE
27    CLE
28    NOP
Name: TEAM_ABBREVIATION, dtype: object